/* Elementary */
$color-dark: #1d242b;
$color-dark-faded: #303841;
$color-light: #fdfdfd;
$color-light-faded: #f5f5f5;

/* Helpers */
$color-helper-link: #5ba5ef;
$color-helper-error: #f05454;
$color-helper-grey: #a1a1a1;
$color-helper-transparent: transparent;

/* Indicators */
$color-indicator-critical: #ff7878;
$color-indicator-information: #8dc6ff;
$color-indicator-warning: #ffdb87;
$color-indicator-success: #71e2b2;
$color-indicator-offline: #e8eae6;

/* Theme Based */
$color-background: var(--color-background);
$color-background-faded: var(--color-background-faded);
$color-contrast: var(--color-contrast);
$color-contrast-faded: var(--color-contrast-faded);

/* Brand */
$color-hue: var(--color-hue);
$color-hue-faded: var(--color-hue-faded);
$color-hue-contrast: var(--color-hue-contrast);

/* Brand Extended */
$color-primary: var(--color-primary);
$color-primary-faded: var(--color-primary-faded);
$color-primary-contrast: var(--color-primary-contrast);
$color-secondary: var(--color-secondary);
$color-secondary-faded: var(--color-secondary-faded);
$color-secondary-contrast: var(--color-secondary-contrast);
