/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

/* Font Families */
$font-family-work-sans: "Work Sans", sans-serif;
$font-family-roboto-mono: "Roboto Mono", monospace;
$font-family-libre-baskerville: "Libre Baskerville", serif;

/* Font Weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

/* Headers */
@mixin header-attributes($element-base) {
	$element-base-rem: calc($element-base * $base-rem / $base-em);
	font-size: $element-base;
	font-family: $font-family-work-sans;
	font-weight: $font-weight-medium;
	line-height: $element-base-rem * $base;
	margin: calc($element-base-rem/1.2) 0 calc($element-base-rem/2.5);
}

@mixin header-1 {
	$element-base: $font-size-header-1;
	@include header-attributes($element-base);
}
@mixin header-2 {
	$element-base: $font-size-header-2;
	@include header-attributes($element-base);
}
@mixin header-3 {
	$element-base: $font-size-header-3;
	@include header-attributes($element-base);
}
@mixin header-4 {
	$element-base: $font-size-header-4;
	@include header-attributes($element-base);
}
@mixin header-5 {
	$element-base: $font-size-header-5;
	@include header-attributes($element-base);
}
@mixin header-6 {
	$element-base: $font-size-header-6;
	@include header-attributes($element-base);
}

/* Fonts */
@mixin font-attributes($element-base) {
	$element-base-rem: calc($element-base * $base-rem / $base-em);
	font-size: $element-base;
	font-family: $font-family-work-sans;
	line-height: $element-base-rem * 1.8;
	margin: calc($element-base-rem/1.2) 0 calc($element-base-rem/1.8);
}

@mixin font-light {
	$element-base: $font-size-regular;
	@include font-attributes($element-base);
	font-weight: $font-weight-light;
}
@mixin font-regular {
	$element-base: $font-size-regular;
	@include font-attributes($element-base);
	font-weight: $font-weight-regular;
}
@mixin font-emphasis {
	$element-base: $font-size-regular;
	@include font-attributes($element-base);
	font-weight: $font-weight-semi-bold;
}
@mixin font-italic {
	$element-base: $font-size-regular;
	@include font-attributes($element-base);
	font-weight: $font-weight-light;
	font-style: italic;
}

/* Special Fonts */
@mixin font-sidenote {
	$element-base: $font-size-small;
	@include font-attributes($element-base);
}
@mixin font-serif {
	$element-base: $font-size-regular;
	@include font-attributes($element-base);
	font-family: $font-family-libre-baskerville;
	font-style: italic;
}
@mixin font-code {
	$element-base: $font-size-regular;
	@include font-attributes($element-base);
	font-family: $font-family-roboto-mono;
	font-weight: $font-weight-light;
}
