/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

/* Font Families */
$font-family-work-sans: "Work Sans", sans-serif;
$font-family-roboto-mono: "Roboto Mono", monospace;
$font-family-libre-baskerville: "Libre Baskerville", serif;

/* Font Weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

/* Headers */
@mixin header-attributes($element-base) {
	letter-spacing: $base-rem * 0.03;
	font-size: $element-base;
	line-height: $element-base * $base;
	margin: calc($element-base / ($base / 2)) 0
		calc($element-base / (3 * $base));
	font-family: $font-family-work-sans;
	font-weight: $font-weight-medium;
}

@mixin header-1 {
	$element-base: $spacer-2;
	@include header-attributes($element-base);
}
@mixin header-2 {
	$element-base: $spacer-1-75;
	@include header-attributes($element-base);
}
@mixin header-3 {
	$element-base: $spacer-1-5;
	@include header-attributes($element-base);
}
@mixin header-4 {
	$element-base: $spacer-1-25;
	@include header-attributes($element-base);
}
@mixin header-5 {
	$element-base: $spacer-1;
	@include header-attributes($element-base);
}
@mixin header-6 {
	$element-base: $spacer-0-75;
	@include header-attributes($element-base);
}

/* Fonts */
@mixin font-attributes($element-base) {
	letter-spacing: $base-rem * 0.01;
	font-size: $element-base;
	line-height: $element-base * $base * 1.1;
	font-family: $font-family-work-sans;
	margin: calc($element-base / (2 * $base)) 0
		calc($element-base / (3 * $base));
}

@mixin font-light {
	$element-base: $base-rem;
	@include font-attributes($element-base);
	font-weight: $font-weight-light;
}
@mixin font-regular {
	$element-base: $base-rem;
	@include font-attributes($element-base);
	font-weight: $font-weight-regular;
}
@mixin font-emphasis {
	$element-base: $base-rem;
	@include font-attributes($element-base);
	font-weight: $font-weight-semi-bold;
}
@mixin font-italic {
	$element-base: $base-rem;
	@include font-attributes($element-base);
	font-weight: $font-weight-light;
	font-style: italic;
}

/* Special Fonts */
@mixin font-sidenote {
	$element-base: $spacer-0-5;
	@include font-attributes($element-base);
}
@mixin font-serif {
	$element-base: $spacer-0-75;
	@include font-attributes($element-base);
	font-family: $font-family-libre-baskerville;
	font-style: italic;
}
@mixin font-code {
	$element-base: $base-rem;
	@include font-attributes($element-base);
	font-family: $font-family-roboto-mono;
	font-weight: $font-weight-light;
}
