@mixin input-container {
	@include font-light;
	margin: 0;
	width: 100%;
	padding: $spacer-0-25 $spacer-0-5;
	border: 1px solid $color-helper-transparent;
	border-radius: $border-radius-standard;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: $spacer-0-5;
	@include hover-outline;
	@include use-theme;

	&--input {
		cursor: text;
	}

	&--placeholder {
		color: $color-helper-grey;
	}

	&--text {
		@include font-regular;
		margin: 0;
	}

	&--type-color {
		height: $spacer-1-5;
		padding: $spacer-0-125 $spacer-0-25;
		cursor: pointer;
	}

	&--active,
	&:focus {
		transition: all $transition-micro ease-in-out;
		border: 1px solid $color-hue !important;
	}

	&--outline {
		border: 1px solid $color-helper-grey;
	}

	&--invalid {
		border: 1px solid $color-helper-error;
	}
}

@mixin dropdown-content-area {
	position: absolute;
	border-radius: $border-radius-standard;
	padding: $spacer-0-25;
	z-index: $z-index-dropdown;
	white-space: nowrap;
	margin-top: $spacer-0-25;
	@include animation-drop-down;
	@include use-theme; // Handle Transparent Theme Backgrounds
	&--theme-transparent {
		background: $color-background;
	}

	&--contain {
		width: 100%;
		overflow: hidden;
	}

	&--flow-right {
		left: 0;
	}

	&--flow-left {
		right: 0;
	}

	&--outline {
		border: 1px solid $color-helper-grey;
	}
}

@mixin select-label {
	display: flex;
	align-items: center;
	column-gap: $spacer-0-25;
	@include hover-color;
	width: fit-content;
	color: $color-contrast;

	&--hue {
		color: $color-hue;
	}
}
