@mixin input-container {
	@include font-light;
	margin: 0;
	width: 100%;
	padding: $spacer-0-25 $spacer-0-5;
	border: 1px solid $color-helper-transparent;
	border-radius: $border-radius-standard;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: $spacer-0-5;
	@include hover-outline;

	&--input {
		cursor: text;
	}

	&--placeholder {
		color: $color-helper-grey;
	}

	&--text {
		@include font-regular;
		margin: 0;
	}

	&--active,
	&:focus {
		transition: all $transition-micro ease-in-out;
		border: 1px solid $color-hue !important;
	}

	&--outline {
		border: 1px solid $color-helper-grey;
	}

	&--theme-auto {
		@include apply-theme(auto);
	}

	&--theme-invert {
		@include apply-theme(invert);
	}

	&--theme-light {
		@include apply-theme(light);
	}

	&--theme-dark {
		@include apply-theme(dark);
	}

	&--theme-transparent {
		@include apply-theme(transparent);
	}

	&--invalid {
		border: 1px solid $color-helper-error;
	}
}
