/* Component Sizing */
@mixin occupy-full-viewport {
	height: 100vh;
	width: 100vw;
}

@mixin occupy-full-parent {
	height: 100%;
	width: 100%;
}

/* Create Grid */
@mixin create-grid($cells: 1, $direction: column, $gutter: 0) {
	display: grid;
	column-gap: $gutter;
	row-gap: $gutter;
	@if $direction == row {
		// grid-auto-flow: row;
		grid-template-rows: repeat($cells, 1fr);
	} @else if $direction == column {
		// grid-auto-flow: column;
		grid-template-columns: repeat($cells, 1fr);
	}
}

/* Action Feedbacks */
@mixin hover-background(
	$background: $color-background-faded,
	$font: $color-hue
) {
	cursor: pointer;
	transition: all $transition-micro ease-in-out;
	user-select: none;

	&:hover {
		background: $background;
		color: $font;
	}
}

@mixin hover-color($font: $color-hue-faded) {
	cursor: pointer;
	transition: all $transition-micro ease-in-out;
	user-select: none;

	&:hover {
		color: $font;
	}
}

@mixin hover-outline($font: $color-hue) {
	cursor: pointer;
	transition: all $transition-micro ease-in-out;

	&:hover {
		border: 1px solid $color-hue;
	}
}

/* Themeing */
@mixin apply-theme($theme: auto) {
	@if $theme == auto {
		background: $color-background;
		color: $color-contrast;
	} @else if $theme == light {
		background: $color-light;
		color: $color-dark;
	} @else if $theme == dark {
		background: $color-dark;
		color: $color-light;
	} @else if $theme == invert {
		background: $color-contrast;
		color: $color-background;
	} @else if $theme == transparent {
		background: $color-helper-transparent;
		color: $color-contrast;
	} @else if $theme == success {
		background: $color-indicator-success;
		color: $color-dark;
	} @else if $theme == warning {
		background: $color-indicator-warning;
		color: $color-dark;
	} @else if $theme == critical {
		background: $color-indicator-critical;
		color: $color-light;
	} @else if $theme == hue {
		background: $color-hue;
		color: $color-hue-contrast;
	}
}

@mixin apply-theme-hover($theme: auto) {
	&:hover {
		@if $theme == auto {
			background: rgba($color-background-faded, 0.2);
			border: 1px solid $color-hue-faded;
		} @else if $theme == light {
			background: rgba($color-light-faded, 0.8);
			border: 1px solid $color-hue-faded;
		} @else if $theme == dark {
			background: rgba($color-dark-faded, 0.8);
			border: 1px solid $color-hue-faded;
		} @else if $theme == invert {
			background: $color-contrast-faded;
			color: $color-background;
			border: 1px solid $color-hue-faded;
		} @else if $theme == transparent {
			color: $color-background;
			background: $color-contrast-faded;
		} @else if $theme == success {
			background: rgba($color-indicator-success, 0.7);
		} @else if $theme == warning {
			background: rgba($color-indicator-warning, 0.7);
		} @else if $theme == critical {
			background: rgba($color-indicator-critical, 0.7);
		} @else if $theme == hue {
			background: $color-hue-faded;
			border: 1px solid $color-hue;
		}
	}
}
