/* Component Sizing */
@mixin occupy-full-viewport {
	height: 100vh;
	width: 100vw;
}

@mixin occupy-full-parent {
	height: 100%;
	width: 100%;
}

/* Create Grid */
@mixin create-grid($cells: 1, $direction: column, $gutter: 0) {
	display: grid;
	column-gap: $gutter;
	row-gap: $gutter;
	@if $direction == row {
		// grid-auto-flow: row;
		grid-template-rows: repeat($cells, 1fr);
	} @else if $direction == column {
		// grid-auto-flow: column;
		grid-template-columns: repeat($cells, 1fr);
	}
}

/* Action Feedbacks */
@mixin hover-background(
	$background: $color-background-faded,
	$font: $color-hue
) {
	cursor: pointer;
	transition: all $transition-micro ease-in-out;
	user-select: none;

	&:hover {
		background: $background;
		color: $font;
	}
}

@mixin hover-color($font: $color-hue-faded) {
	cursor: pointer;
	transition: all $transition-micro ease-in-out;
	user-select: none;

	&:hover {
		color: $font;
	}
}

@mixin apply-theme($theme: auto) {
	@if $theme == auto {
		background: $color-background;
		color: $color-contrast;
	} @else if $theme == light {
		background: $color-light;
		color: $color-dark;
	} @else if $theme == dark {
		background: $color-dark;
		color: $color-light;
	} @else if $theme == invert {
		background: $color-contrast;
		color: $color-background;
	}
}
