/* Themeing */
@mixin use-theme {
	&--theme-auto {
		background: $color-background;
		color: $color-contrast;
		// border: $border solid $color-hue-faded;
	}

	&--theme-light {
		background: $color-light;
		color: $color-dark;
	}

	&--theme-dark {
		background: $color-dark;
		color: $color-light;
	}

	&--theme-invert {
		background: $color-contrast;
		color: $color-background;
	}

	&--theme-hue {
		background: $color-hue;
		color: $color-hue-contrast;
	}

	&--theme-primary {
		background: $color-primary;
		color: $color-primary-contrast;
	}

	&--theme-secondary {
		background: $color-secondary;
		color: $color-secondary-contrast;
	}

	&--theme-information {
		background: $color-helper-link;
		color: $color-light;
	}

	&--theme-critical {
		background: $color-indicator-critical;
		color: $color-light;
	}

	&--theme-warning {
		background: $color-indicator-warning;
		color: $color-dark;
	}

	&--theme-success {
		background: $color-indicator-success;
		color: $color-dark;
	}

	&--theme-transparent {
		background: $color-helper-transparent;
		color: $color-contrast;
		// border: $border solid $color-helper-grey;
	}

	&--theme-offline {
		background: $color-indicator-offline;
		color: $color-dark;
	}

	&--theme-grey {
		background: $color-helper-grey;
		color: $color-dark;
	}
}

@mixin use-theme-hover($border: 0) {
	&--theme-auto {
		&:hover {
			@include hover-background($color-background-faded, $color-contrast);
			border: $border solid $color-hue-faded;
		}
	}

	&--theme-light {
		&:hover {
			@include hover-background($color-light-faded, $color-dark);
			border: $border solid $color-hue-faded;
		}
	}

	&--theme-dark {
		&:hover {
			@include hover-background($color-dark-faded, $color-light);
			border: $border solid $color-hue-faded;
		}
	}

	&--theme-invert {
		&:hover {
			@include hover-background($color-contrast-faded, $color-background);
			border: $border solid $color-hue-faded;
		}
	}

	&--theme-hue {
		&:hover {
			@include hover-background($color-hue-faded, $color-hue-contrast);
			border: $border solid $color-hue;
		}
	}

	&--theme-primary {
		&:hover {
			@include hover-background(
				$color-primary-faded,
				$color-primary-contrast
			);
			border: $border solid $color-primary;
		}
	}

	&--theme-secondary {
		&:hover {
			@include hover-background(
				$color-secondary-faded,
				$color-secondary-contrast
			);
			border: $border solid $color-secondary;
		}
	}

	&--theme-information {
		&:hover {
			@include hover-background(
				rgba($color-indicator-information, 0.7),
				$color-light
			);
			border: $border solid $color-indicator-information;
		}
	}

	&--theme-critical {
		&:hover {
			@include hover-background(
				rgba($color-indicator-critical, 0.7),
				$color-light
			);
			border: $border solid $color-indicator-critical;
		}
	}

	&--theme-warning {
		&:hover {
			@include hover-background(
				rgba($color-indicator-warning, 0.7),
				$color-dark
			);
			border: $border solid $color-indicator-warning;
		}
	}

	&--theme-success {
		&:hover {
			@include hover-background(
				rgba($color-indicator-success, 0.7),
				$color-dark
			);
			border: $border solid $color-indicator-success;
		}
	}

	&--theme-transparent {
		&:hover {
			@include hover-background($color-contrast-faded, $color-background);
			border: $border solid $color-hue-faded;
		}
	}

	&--theme-offline {
		&:hover {
			@include hover-background(
				rgba($color-indicator-offline, 0.7),
				$color-dark
			);
			border: $border solid $color-indicator-offline;
		}
	}

	&--theme-grey {
		&:hover {
			@include hover-background(
				rgba($color-helper-grey, 0.7),
				$color-dark
			);
			border: $border solid $color-helper-grey;
		}
	}
}

@mixin use-color {
	&--color-hue {
		color: $color-hue;
	}

	&--color-primary {
		color: $color-primary;
	}

	&--color-secondary {
		color: $color-secondary;
	}

	&--color-information {
		color: $color-indicator-information;
	}

	&--color-critical {
		color: $color-indicator-critical;
	}

	&--color-warning {
		color: $color-indicator-warning;
	}

	&--color-success {
		color: $color-indicator-success;
	}

	&--color-grey {
		color: $color-helper-grey;
	}

	&--color-link {
		color: $color-helper-link;
	}
}
