/* Themeing */
@mixin apply-theme($theme: auto) {
	@if $theme == auto {
		background: $color-background;
		color: $color-contrast;
	} @else if $theme == light {
		background: $color-light;
		color: $color-dark;
	} @else if $theme == dark {
		background: $color-dark;
		color: $color-light;
	} @else if $theme == invert {
		background: $color-contrast;
		color: $color-background;
	} @else if $theme == transparent {
		background: $color-helper-transparent;
		color: $color-contrast;
	} @else if $theme == success {
		background: $color-indicator-success;
		color: $color-dark;
	} @else if $theme == warning {
		background: $color-indicator-warning;
		color: $color-dark;
	} @else if $theme == critical {
		background: $color-indicator-critical;
		color: $color-light;
	} @else if $theme == hue {
		background: $color-hue;
		color: $color-hue-contrast;
	}
}

@mixin apply-theme-hover($theme: auto) {
	&:hover {
		@if $theme == auto {
			background: rgba($color-background-faded, 0.2);
			border: 1px solid $color-hue-faded;
		} @else if $theme == light {
			background: rgba($color-light-faded, 0.8);
			border: 1px solid $color-hue-faded;
		} @else if $theme == dark {
			background: rgba($color-dark-faded, 0.8);
			border: 1px solid $color-hue-faded;
		} @else if $theme == invert {
			background: $color-contrast-faded;
			color: $color-background;
			border: 1px solid $color-hue-faded;
		} @else if $theme == transparent {
			color: $color-background;
			background: $color-contrast-faded;
		} @else if $theme == success {
			background: rgba($color-indicator-success, 0.7);
		} @else if $theme == warning {
			background: rgba($color-indicator-warning, 0.7);
		} @else if $theme == critical {
			background: rgba($color-indicator-critical, 0.7);
		} @else if $theme == hue {
			background: $color-hue-faded;
			border: 1px solid $color-hue;
		}
	}
}

@mixin use-theme {
	&--theme-auto {
		@include apply-theme(auto);
	}

	&--theme-light {
		@include apply-theme(light);
	}

	&--theme-dark {
		@include apply-theme(dark);
	}

	&--theme-invert {
		@include apply-theme(invert);
	}

	&--theme-hue {
		@include apply-theme(hue);
	}

	&--theme-critical {
		@include apply-theme(critical);
	}

	&--theme-warning {
		@include apply-theme(warning);
	}

	&--theme-success {
		@include apply-theme(success);
	}

	&--theme-transparent {
		@include apply-theme(transparent);
	}
}

@mixin use-theme-hover {
	&--theme-auto {
		@include apply-theme-hover(auto);
	}

	&--theme-light {
		@include apply-theme-hover(light);
	}

	&--theme-dark {
		@include apply-theme-hover(dark);
	}

	&--theme-invert {
		@include apply-theme-hover(invert);
	}

	&--theme-hue {
		@include apply-theme-hover(hue);
	}

	&--theme-critical {
		@include apply-theme-hover(critical);
	}

	&--theme-warning {
		@include apply-theme-hover(warning);
	}

	&--theme-success {
		@include apply-theme-hover(success);
	}

	&--theme-transparent {
		@include apply-theme-hover(transparent);
	}
}
