/* Spacers */
$spacer-0-25: 0.404rem;
$spacer-0-5: 0.809rem;
$spacer-0-75: 1.213rem;
$spacer-1: 1.618rem;

$spacer-1-25: 2.022rem;
$spacer-1-5: 2.427rem;
$spacer-1-75: 2.831rem;
$spacer-2: 3.236rem;

$spacer-2-25: 3.64rem;
$spacer-2-5: 4.045rem;
$spacer-2-75: 4.449rem;
$spacer-3: 4.854rem;

$spacer-3-25: 5.258rem;
$spacer-3-5: 5.663rem;
$spacer-3-75: 6.067rem;
$spacer-4: 6.472rem;

$spacer-5: 8.09rem;
$spacer-6: 9.708rem;
$spacer-7: 11.33rem;
$spacer-8: 12.94rem;
$spacer-9: 14.56rem;
$spacer-10: 16.18rem;

$spacer-percentile-0-25: 0.404%;
$spacer-percentile-0-5: 0.809%;
$spacer-percentile-0-75: 1.213%;
$spacer-percentile-1: 1.618%;

$spacer-percentile-1-25: 2.022%;
$spacer-percentile-1-5: 2.427%;
$spacer-percentile-1-75: 2.831%;
$spacer-percentile-2: 3.236%;

$spacer-percentile-2-25: 3.64%;
$spacer-percentile-2-5: 4.045%;
$spacer-percentile-2-75: 4.449%;
$spacer-percentile-3: 4.854%;

$spacer-percentile-3-25: 5.258%;
$spacer-percentile-3-5: 5.663%;
$spacer-percentile-3-75: 6.067%;
$spacer-percentile-4: 6.472%;

$spacer-percentile-5: 8.09%;
$spacer-percentile-6: 9.708%;
$spacer-percentile-7: 11.33%;
$spacer-percentile-8: 12.94%;
$spacer-percentile-9: 14.56%;
$spacer-percentile-10: 16.18%;
