// ---------------------------------
// Remove Input Autofill Backgrounds
// ---------------------------------
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 50000s ease-in-out 0s;
}

@import "./_colors.scss";
@import "./_fonts.scss";
@import "./_mixins.scss";
@import "./_variables.scss";
